modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
MONGODB_URL = "mongodb+srv://ashlinjohnj:5SMJdTSdLKt72Zsv@appointment.y5q9g5z.mongodb.net/?appName=Appointment"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "doctor-app-server"

[[workflows.workflow]]
name = "doctor-app-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd deeps && npm start"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
